#s1
{
 border-style:solid;
 border-width:2px;
 width:390px;
 height:451px;
 margin-left:500px;
 margin-top:75px;
 background-color:DodgerBlue;
}
#s2
{
 font-size:35px;
 border-style:solid;
 border-width:2px;
 width:370px;
 height:80px;
 margin-left:8px;
 margin-top:10px;
 background-color:PowderBlue;
 display:flex;
 align-items:end;
 justify-content:center;
 flex-direction:column-reverse;
}
#s3
{
 border-style:solid;
 border-width:2px;
 width:370px;
 margin-left:8px;
 margin-top:5px;
 height:340px;
 background-color:PowderBlue;
}
#s4
{
height:50px;
margin-left:5px;
margin-top:3px;
margin-right:5px;
height:60px;
display:flex;
align-item:center;
justify-content:space-around;
}
#s5
{
height:50px;
margin-left:5px;
margin-top:3px;
margin-right:5px;
height:60px;
display:flex;
align-item:center;
justify-content:space-around;
}
#s6
{
height:50px;
margin-left:5px;
margin-top:3px;
margin-right:5px;
height:60px;
display:flex;
align-item:center;
justify-content:space-around;
}
#s7
{
height:50px;
margin-left:5px;
margin-top:3px;
margin-right:5px;
height:60px;
display:flex;
align-item:center;
justify-content:space-around;
}
#s8
{
height:50px;
margin-left:5px;
margin-top:3px;
margin-right:5px;
height:70px;
display:flex;
align-item:center;
justify-content:space-around;
}
#s9
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s10
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s11
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s12
{
border-style:solid;
border-width:2px;
width:80px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s13
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s14
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s15
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s16
{
border-style:solid;
border-width:2px;
width:80px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s17
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s18
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s19
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s20
{
border-style:solid;
border-width:2px;
width:80px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s21
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s22
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s23
{
border-style:solid;
border-width:2px;
width:65px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:LightSkyBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s24
{
border-style:solid;
border-width:2px;
width:80px;
height:50px;
margin-top:5px;
margin-left:3px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s25
{
border-style:solid;
border-width:2px;
width:155px;
height:60px;
margin-top:10px;
margin-left:3px;
margin-right:4px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}
#s26
{
border-style:solid;
border-width:2px;
width:155px;
height:60px;
margin-top:10px;
margin-left:4px;
background-color:SteelBlue;
display:flex;
align-items:center;
justify-content:center;
}


